.top__center {
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 238, 238);
  border-radius: 5px;
}

.article__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.scroller {
  overflow: auto;
  margin: 0 auto;
  height: 70px;
  width: 300px;
}

.center__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.share__flex {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

@media (max-width: 767px) {
  .responsive__navbar {
    display: none;
  }
}

@media (max-width: 767px) {
  .responsive__searchIcon {
    display: none;
  }
}

.responsive__searchIcon {
  margin-top: 5px;
  margin-left: 5px;
}

.pulldown__refresh {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav__button {
  border: 1px solid lightgray;
  border-radius: 30px;
  background-color: transparent;
  padding: 3px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  width: 40px;
}

.nav__button:active {
  background-color: rgb(249, 249, 249);
}

.nav__button:hover {
  background-color: rgb(113, 113, 113);
  cursor: pointer;
}

.nav__button:disabled {
  background-color: transparent;
  background-color: rgb(144, 144, 144);
  cursor: auto;
}

.responsive__tooltip {
  margin: auto;
}

@media (max-width: 767px) {
  .responsive__tooltip {
    display: none;
  }
}
