.top__center {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: rgb(229, 229, 229);
  border: 2px solid rgb(222, 222, 222);
  border-radius: 5px;
}
