.GridButton {
  display: grid;
  align-items: center;
}

.Box {
  display: grid;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 7px;
  margin-top: 10px;
}
.BoxDark {
  display: grid;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 3px;
  padding: 7px;
  margin-top: 10px;
}

.ModalScroller {
  overflow: auto;
  height: 205px;
  padding: 3px;
  margin: 10px;
}
