.LinkStyle {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.1rem;
  margin-top: 1vh;
  width: 200px;
  color: black;
}

.LinkStyle:hover {
  color: rgb(0, 140, 255);
}

.LinkStyle:active {
  color: rgb(0, 102, 255);
}

.LoaderContainer {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}
