@media (max-width: 767px) {
  .MobileCenter {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .InputMobile {
    max-width: 50vw;
  }
  .ButtonMobile {
    max-width: 50vw;
  }
}

@media screen and (min-width: 768px) {
  .MobileCenter {
    display: grid;
    text-align: center;
  }
  .InputMobile {
    max-width: 100%;
  }
}
