.ContainerDiv {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.Center {
  display: grid;
  align-items: center;
  justify-content: center;
}
